@{
    ViewBag.Title = "Home Page";
}

    <div class="jumbotron">
        <h1>Teste Softplan</h1>
        <p class="lead">Criação de duas APIs. Uma API para mostrar o valor do juros e outra para executar o cálculo de Juros sobre um valor.</p>
        <p class="lead">@Html.ActionLink("Clique aqui para começar", "Index", "Juros")</p>
        
    </div>